@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-colors duration-200;
    }

    body {
        @apply bg-primary-light dark:bg-primary-dark text-text-light dark:text-text-dark;
    }
}

.linear-gradient {
    @apply bg-gradient-to-b from-transparent dark:from-transparent to-black dark:to-white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    @apply dark:invert;
}